.venv
/Билеты/
*.pdf

/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/tickitter.iml
/.idea/vcs.xml
